/* Add Border Box to all elements */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Visualize every element with a white box - debugging */
* {
    outline: 1px solid mediumblue !important;
    /* outline: 1px solid whitesmoke !important; */
}

/* :root {
    --header-bg-color-black: rgb(46, 49, 54);
    --header-bg-color-faded-grey: #3f3f3fd3; 
    --font-family-bubblegum: 'Bubblegum Sans', cursive;
    --font-family-corben: 'Corben', cursive;
    --font-family-limelight: 'Limelight', cursive;
    --font-family-raleway: 'Raleway', sans-serif; 
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-inconsolata: 'Inconsolata', sans-serif;
} */

body {
    margin: 0;
    padding: 0;
    /* background-color: #333; */
    color: #000;
    /* color: #000; */
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em 0 0.5em 0;
    padding: 0;
}

.mtb-logo {
    margin: 0;
    padding: 0;
    width: 10%;
    border-radius: 3em;
}

.mtb-logo img {
    width: 100%;
}

h1 {
    /* font-family: 'Glass Antiqua', cursive; */
    font-family: 'Yeseva One', cursive;
    display: inline;
    margin: 0.50em 0;
    padding: 0;
}

nav {
    /* background-color: #00A651; */
    /* background-color: #333; */
    /* background-color: #3c341f; */
    /* background-color: #3e3921; */
    /* background-color: #404040; */
    /* font-family: 'Glass Antiqua', cursive; */
    /* font-family: 'Diplomata', cursive; */
    /* font-family: 'Jacques Francois Shadow', cursive; */
    font-size: 1.5em;
    margin-bottom: 0.50em;
    background-color: #404040;
}

.menu-btn {
    display: none;
}

/* .menu-btn-open {
    display: none;
} */

/* .menu-btn-open.active {
    display: block;
} */

#menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
#menu li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: seashell;
}

a:visited {
    /* color: seashell; */
    color: whitesmoke;
    background-color: seashell;
}
  
#menu li a {
    text-decoration: none;
    font-family: 'Yeseva One', cursive;
    color: #fff;
    /* color: #EC3432; */
}

#menu li a:visited {
    text-decoration: none;

}

#menu li a:hover {
    color: #344C96;
    /* color: #2636FF; */
    /* color: #19A3FF; */
    /* color: orange; */
    /* color: red; */
    /* color: #72a230; */
}

#hero {
    display: grid;
    justify-items: center;
    /* background-color: #3c341f; */
}

.red {
    color: #EC3432;
}

.blue {
    color: #344C96;
}

.hero-splash {
    margin: 1em 0;
    padding: 0;
    width: 35%;
    border-radius: 0.75em;
}

.hero-splash img {
    width: 100%;
    border-radius: 0.75em;
}

.introduction {
    display: grid;
    justify-items: center;
    padding: 0.25em 2.5em;
    background-color: #404040;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-color: #fff;
    /* background-color: #3c341f; */
    color: #fff;
    /* font-family: sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* justify-content: center; */
}

.introduction p {
    padding: 0.5em;
    max-width: 450px;
    font-size: 1em;
}

.book-btn {
    background-color: #344C96;
    border-color: #EC3432;
    color: #fff;
    font-size: 1.25em;
    border-radius: 0.50em;
    padding: 0.50em;
    border-style: solid;
    /* background-color: #344C96; */
    /* border-color: #72a230; */
    /* font-family: 'Glass Antiqua', cursive; */
    /* background-color: #00A651; */
    /* border-color: #00A651; */
    /* background-color: #72a230; */
    /* background-color: #19A3FF; */
    /* border-color: #19A3FF; */
    /* background-color: #C93438; */
    /* color:#3c341f; */
}

.book-btn a:visited {
    color: seashell;
    /* background-color: #344C96; */
}

.book-btn:hover {
    /* background-color: #344C96; */
    border-color: #344C96;
    background-color: #EC3432;
    /* background-color: seashell; */
    /* color: #EC3432; */
    /* background-color: #006832; */
    /* background-color: #4c7415; */
    /* background-color: #79ac33; */
    /* border-color: #72a230;  */
}

/* Featured Services */
.featured-services {
    display: grid;
    justify-items: center;
    padding: 1em 2.5em;
    font-family: 'Roboto', sans-serif;
    /* background-image: url("./assets/images/barber-tools-laid-out.jpg"); */
}

.featured-services li {
    list-style-type: none;
}

.featured-services h2 {
    font-family: 'Yeseva One', cursive;
    border-bottom-color: #404040;
    border-width: 0.125em;
    border-bottom-style: inset;
}

.price-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.price-menu figure {
    width: 40%;
}

.price-menu ul {
    padding: 0;
    margin: 0;
}

.prices ul {
    margin: 0;
    padding: 0;
}

.about {
    display: grid;
    justify-items: center;
    padding: 1em 2.5em;
    /* background-color: #808080; */
    background-color: #404040;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    /* background-color: #3c341f; */
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.about h2 {
    font-family: 'Yeseva One', cursive;
    border-bottom-color: seashell;
    border-width: 0.125em;
    border-bottom-style: inset;
}

.about-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.about-container {
    display: flex;
    align-items: center;
    /* padding: 2em; */
}

.about .about-copy {
    display: grid;
}

.about p {
    padding: 0.5em 2em;
    /* margin: 0.5em; */
    max-width: 450px;
}

.about .hero-splash {
    width: 70%;
    max-width: 550px;
}

.location {
    display: grid;
    padding: 2em;
    gap: 0.5em;
    justify-items: center;
    /* background-color: #E6E6E6; */
    /* background-color: #3c341f; */
}

.location h2 {
    margin: 0;
    border-bottom-color: #404040;
    border-width: 0.125em;
    border-bottom-style: inset;
}

.location h3 {
    margin: 0.25em;
    border-bottom-color: #404040;
    border-width: 0.0625em;
    border-bottom-style: inset;
}

.location h2, h3 {
    font-family: 'Yeseva One', cursive;
}

.location iframe {
    border-radius: 2em;
}

.location ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hours-operation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.social-media .icon {
    width: 5em;
    height: 5em;
    vertical-align: -.125em;
}

.gallery {
    display: grid;
    padding: 2em;
    justify-items: center;
    background-color: #3c341f;
    color: #fff;
}

.gallery figure {
    margin: 1em;
}

.image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.image-gallery img {
    width: 100%;
    height: auto;
}

footer {
    display: grid;
    justify-content: center;
    background-color: #404040;
    /* background-color: #3c341f; */
    font-family: 'Yeseva One', cursive;
    padding: 1em 2em;
    border-top-left-radius: 2em;
}

footer h3 {
    font-size: 1.25em;
    color: #fff;
}

@media (max-width: 768px) {
    .menu-btn {
      display: block;
      cursor: pointer;
      font-size: 2em;
    }
  
    #menu {
      display: none;
    }
  
    #menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .image-gallery img {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .price-menu figure {
        display: none;
    }
}

@media (max-width: 465px) {
    h1 {
        display: none;
    }

    .mtb-logo {
        width: 10%;
    }
}